
<div class="container">
  <h1>Hello from index</h1>
  <%= @products.each do |product| %>
    <p><%= product.name %></p>
    <p><%= product.overview %></p>
    <p><%= product.price %></p>
    <p><%= product.unit %></p>
  <% end %>
</div>
