<div class="banner background-div" style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('<%= cl_image_path(@product.photo.key) %>') no-repeat center center fixed; background-size: cover; object-position: center;">
  <div class="container">
    <h1><%= @product.name %></h1>
    <p class="color-white mt-2 fs-6 ">STARTING FROM <%= @product.price %>$ per <%= @product.unit %></p>
  </div>
</div>

<div class="container mt-5 mb-5 rounded-bar">
  <div class="row   m-0">
    <div class="col-8">
      <div class="container p-5 shadow-lg rounded-bar bg-color">
        <p class="h5 lh-base"><%= @product.overview %></p>
      </div>
    </div>

    <div class="col-4 d-flex align-items-center rounded-bar justify-content-center bg-color p-0">
      <%= render 'bookings/booking_form' %>
    </div>
  </div>
</div>
<div class="container rounded-bar mx-auto text-center">
<%= link_to '<i class="fa-solid fa-arrow-left"></i> Back to products'.html_safe, products_path, id: "schadow-button", class: "btn rounded-bar btn-primary" %>
</div>
<br>
<br>
