<<<<<<< HEAD
<div class="product-info">
  <h2><%= @product.name %></h2>
  <p><%= @product.overview %></p>
  <p><strong>Price:</strong> $<%= @product.price %> per <%= @product.unit %></p>
  <%= form_for @line_item do |f| %>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: 'form-control' %>
    </div>
    <%= f.submit "Add to Cart", class: "btn btn-primary" %>
  <% end %>
=======
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @product.name %></h1>
    <p class="color-white mt-2 fs-6">STARTING FROM <%= @product.price %>$</p>
  </div>
</div>

<div class="container w-75 mx-auto mt-5 p-5 shadow-lg rounded">
      <p class="h5 lh-base"><%= @product.overview %></p>
  </div>
>>>>>>> master
</div>
